.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.fontMedia{
  font-size: 19px;
}
.fontBody{
  font-size: 40px;
}
.boxmodCentrar {display: flex; justify-content: center; align-items: center;}
.colorPunto{color: rgb(141, 187, 81);}
.bgPunto{background-color:rgb(141, 187, 81);}
.listadoFlex {flex-wrap:wrap;}
.flex{display: flex;}
.paddingBetwen{margin: 2%;}
.padding{padding: 10px;}
.centrarAling{text-align: center;}
.paddingRL{padding-left: 10px; padding-right: 10px;}
.paddingT{padding-top: 8px;}
.paddingTB{padding-top: 10px; padding-bottom: 10px;}
.dropdown-item:hover{background-color:rgb(141, 187, 81) ;}
.home{
  text-decoration: none;
  color: rgba(0,0,0,.55);
}
.home:hover{color: rgba(0,0,0,.55);}